#ClassListCard,#ClassWeekCard{
    display: none;
}
#displayBtn{
    background-color: white;
    border: 1px solid lightgrey;
}
/* body{
    background-image: url('https://media.giphy.com/media/25R4JKEB4OO33udYiz/giphy.gif');
    background-size: cover;
} */